# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# dotenv environment variables file
.env

# logs
logs/
*.log
*.log.*

# Temporary files
*.swp
*.swo
*.bak
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/

# npm package lock file (optional, if you want to ignore it)
package-lock.json
yarn.lock
